In [3]:
import pandas as pd

In [4]:
a = [5,3,6,90]

myvar = pd.Series(a)

print(myvar)

0     5
1     3
2     6
3    90
dtype: int64

In [5]:
print(myvar[0])

5

In [6]:
a = [5,3,6,90]

myvar = pd.Series(a, index = ["alpha", "beta", "gamma", "delta"])
print(myvar)

alpha     5
beta      3
gamma     6
delta    90
dtype: int64

In [7]:
print(myvar["beta"])

3

In [8]:
work_hours = {"Mon": 2, "Tue": 3, "Wed": 4, "Thurs":3}
myvar1 = pd.Series(work_hours)

print(myvar1)

Mon      2
Tue      3
Wed      4
Thurs    3
dtype: int64

In [9]:
#Just is tangent
my_str = "rupak"
x = my_str.capitalize()
print(x)

Rupak

In [10]:
print(myvar1["Mon"])

2

In [11]:
assgn_due = {"M":1, "T":3, "W":5, "Thur":2}
var = pd.Series(assgn_due, index = ["M", "T", "Thur"])
print(var)

M       1
T       3
Thur    2
dtype: int64

In [12]:
#Moving on to dataframes
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45] 
}

r_var = pd.DataFrame(data)
print(r_var)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
print(r_var.head(1))

   calories  duration
0       420        50

In [16]:
print(r_var.tail(1))

   calories  duration
2       390        45

In [17]:
print(r_var.info)

<bound method DataFrame.info of    calories  duration
0       420        50
1       380        40
2       390        45>

In [18]:

df = {'x1': ['A','B','A','A','B','A','A','A'], 'x2': [1,3,2,2,3,1,2,3]}
df = pd.DataFrame(df)
print(df)

  x1  x2
0  A   1
1  B   3
2  A   2
3  A   2
4  B   3
5  A   1
6  A   2
7  A   3